* {
	font-family: Verdana;
}

header,
footer {
	background-color: rgb(205, 92, 92);
	color: white;
	text-align: center;
	padding: 5px;
	float: left;
	width: 100%;
}

.left,
.right {
	background-color: rgb(250, 235, 215);
	width: 25%;
	height: 500px;
	float: left;
}

.mid {
	background-color: rgb(250, 235, 215);
	width: 50%;
	height: 500px;
	float: left;
}

.data {
	background-color: rgb(210, 180, 140);
	float: left;
	color: white;
	width: 100%;
}

h2 {
	text-align: center;
}

h2::first-letter {
	font-size: 150%;
}

img {
	height: 120px;
	padding: 7px;
}

img:hover {
	background-color: rgb(210, 180, 140);
}
