* {
	font-family: Verdana;
	background-color: #888888;
}

main {
	text-align: center;
}
header {
	width: 100%;
}
aside {
	float: left;
	background-color: white;
	height: 600px;
	width: 20%;
}
article {
	float: left;
	background-color: #aec6e6;
	width: 80%;
	height: 600px;
	overflow: auto;
}

footer {
	text-align: right;
	height: 25px;
}

header > img {
	width: 100%;
}
.h1_index {
	color: blue;
	padding-top: 50px;
	background-color: #aec6e6;
}
ol {
	background-color: white;
}
li {
	list-style-type: none;
	width: 120px;
	background-color: #aec6e6;
	padding: 5px;
	margin-top: 10px;
}

li:hover {
	background-color: #5555ff;
}

a {
	text-decoration: none;
	color: #232323;
	background-color: #aec6e6;
}
table {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

td,
tr {
	border: black 1px solid;
	height: 15px;
	width: 15px;
	text-align: center;
	font-size: 10px;
}

form,
input {
	background-color: white;
}

.zajete {
	background-color: red;
}
.wolne {
	background-color: GRAY;
}
